
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->

<div class="container">
    <app-header></app-header>

    <div class="material my-3">
        <app-material></app-material>
    </div>

    <div class="batch-pack-summary">
        <div class="batch-pack-container row">
            <div class="batches col-md-6">
                <app-batches></app-batches>
            </div>
            <div class="packs col-md-6">
                <app-packs></app-packs>
        </div>
        <div class="summary my-3">
            <app-summary></app-summary>
        </div>

    </div>


    <div class="d-flex justify-content-end">
        <!-- <button type="button" class="btn btn-primary" >SUMMARY</button> -->
    </div>
</div>
